/* index.css の中身をこれだけに上書き！ */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #fdf3f6; /* 全体の背景色もここで指定 */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}